.toggle {

  height: 35px;
  // width: 33rem;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;

}
.toggle-item {
  height: 100%;
  text-align: center;
  padding: 5px;
  // background: #007bff;
  border: 0px;
  padding: 5px 10px 5px 10px;
  }
